.card-img svg {
  width: 100px;
  height: 100px;
}

.testimonials3 {
  background: white;
}

.card {
  display: inline;
}

.cutText {
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap;
}

.cardPadding { 
  margin-bottom: 20px;
}

.videoIcon {
  margin-right: 5px;
}

.facebookIcon {
  margin-right: 10px;
}

.facebookIcon path {
  fill: white;
}
.videoIcon path {
  fill: red;
}

.instagramIcon {
  margin-right: 10px;
}

.instagramIcon path {
  fill: #406a82;
}

.pb-3 {
  padding-bottom: 0em!important;
}